$primary-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Big Shoulders Display', cursive;

$card-first: hsl(31, 77%, 52%);
$card-second: hsl(184, 100%, 22%);
$card-third: hsl(179, 100%, 13%);

$main-color: hsla(0, 0%, 100%, 0.75);
$bg-color: hsl(0, 0%, 95%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
}

.cards {
	display: flex;
	flex-direction: column;
	width: 100%;
}
